extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
						div.signup-wall
							ul.user-details
								li Username ---> #{user.username}
								li Email    ---> #{user.email}
								li First Name ---> #{user.firstName} 
								li Last Name ---> #{user.lastName}
								li Status ---> #{user.status}
						a(href='/signout', class='text-center new-account') Sign Out
						if user.status === 'teacher'&&user.username === 'pml'
							div.options
								button(class='btn btn-lg btn-primary btn-block publish_homework') publish homework
								form(class='form-publish-homework', action="/publish_homework", method="POST")
									input(name="title", type="text", class='form-control', placeholder='Titile',required)
									textarea(name="content" class='form-control' placeholder="homework content" rows="10" cols="37",required)
									span deadline
									input(id="deadline",name="deadline",type="datetime-local",required)
									button(class="btn-primary btn btn-lg" type="submit") 提交
									button(class='cancle btn-primary btn btn-lg') 取消
						if homeworks
							each homework in homeworks
								div.homework_block
								button(class='btn btn-lg btn-block homework') #{homework.title}
								form(class='' action='#')
										span(name="content" class='form-control' placeholder="homework requirement" rows="10" cols="37") #{homework.content}
										span deadline:
										span(id="deadline",name="deadline",type="text") #{homework.deadline}


